* {
	color: #bababa;
	border: 0;
	font-family: "JetbransMono Nerd Font";
	font-size: 16px;
}

window#waybar {
	background-color: #444444;
	opacity: 0.50;
}

#clock,
#custom-swap,
#custom-clipboard,
#custom-background,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#mpd,
#custom-temp,
#custom-fan {
	padding-bottom: 10px;
	padding: 0px 5px;
	border-style: solid;
	opacity: 1.0;
	margin: 0 8px;
	border-radius: 10px;
}

#tags {
  background-color: @base;
  font-weight: bold;
  opacity: 1;
}

#tags button {
  color: @base;
  font-weight: 500;
  transition: all 0.2s ease;
}

#tags button.urgent * {
  color: @base;
}

#tags button.urgent {
  color: @base;
  text-shadow: none;
  background: none;
}

#tags button.occupied {
  /* opacity: 0.7; */
  /* font-weight: bold; */
}

#tags button.focused * {
  color: @red;
}
